<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/output.css" rel="stylesheet">
    <title>Image Analysis Results</title>
</head>
<body class="background-svg-pattern flex justify-center items-center min-h-screen">
    <div class="text-center max-w-lg">
        <h1 class="text-3xl font-bold underline font-family mb-4">
            History
        </h1>
        <p class="font-family mb-6">
            Here is the image description with keyword objects history:
        </p>

        <!-- Display the results here -->
        <div class="results-container font-family">
            <ul>
            {% for record in history_records %}
                <li>
                <p class="mb-2">
                    <strong>Image:</strong> {{ record.image_name }} <br>
                    <strong>Date:</strong> {{ record.date }} <br>
                    <strong>Labels:</strong>
                </p>
                <ul>
                    {% for label in record.labels %}
                    <li>
                        <strong>Keyword:</strong> {{ label.description }} <br>
                        <strong>Confidence Score:</strong> {{ label.score | round(2) }}
                    </li>
                    {% endfor %}
                </ul>
                </li>
            {% endfor %}
            </ul>
        </div>

        <a href="/" class="font-family text-blue-600 mt-6 inline-block">Go back to upload another image</a>
    </div>
</body>
</html>
