<!doctype html>
<html>
<head>
    <title>ImageDescriber App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link href="./styles/output.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="background-svg-pattern font-family flex-right">
        <table class="background-svg-pattern flex justify-center items-center min-h-screene">
            <tr>
                <a href="/login/">Login</a>
            </tr>
            <tr>
                <a href="/register/">Register</a>
            </tr>
        </table>
    </div>
    <div class="background-svg-pattern flex justify-center items-center min-h-screen">
        <div class="text-center max-w-lg">
            <h1 class="text-3xl font-bold underline align font-family">
                Please upload an image and I will describe it for you!
            </h1>
            <div class="align">
                <form id="uploadForm" action="/analyze-image/" method="post" enctype="multipart/form-data" class="button results-container">
                    <input type="file" id="file" name="file" accept="image/*">
                    <div id="fileName" class="mt-2"></div>
                    <label for="file" class="btn btn-primary custom-file-upload btn btn-dark">Browse...</label>
                    <button type="submit" class="btn btn-primary">Upload</button>
                <script>
                    document.getElementById('file').addEventListener('change', function() {
                        const uploadButton = document.querySelector('button[type="submit"]');
                        const fileNameDiv = document.getElementById('fileName');
                        if (this.files.length > 0) {
                            uploadButton.disabled = false;
                            fileNameDiv.textContent = `Selected file: ${this.files[0].name}`;
                        } else {
                            uploadButton.disabled = true;
                            fileNameDiv.textContent = '';
                        }
                    });
                    // Initially disable the upload button
                    document.querySelector('button[type="submit"]').disabled = true;
                </script>
                </form>
                <!-- Loader Element -->
                <div class="loader" id="loader"></div>
            </div>
            <a href="/history/" class="btn btn-link">View history</a>
        </div>

        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script>
            // JavaScript to show loader on form submit
            document.getElementById('uploadForm').addEventListener('submit', function() {
                document.getElementById('loader').style.display = 'block'; // Show loader
            });
        </script>
    </div>
</body>
</html>
