.align {
    text-align: center;
}
.font {
    font-size: 16px;
}
.font-size {
    font-size: 20px;
}
.font-family {
    font-family: Arial, sans-serif;
    color: antiquewhite;
}
.button {
    background-color: #0099e0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button-style {
    background-color: #00232e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.background-svg-pattern {
    background-image: linear-gradient(to right, #00232e, #0099e0);
}