.align {
    text-align: center;
}
.font {
    font-size: 16px;
}
.font-size {
    font-size: 20px;
}
.font-family {
    font-family: Arial, sans-serif;
    color: antiquewhite;
}
.button {
    background-color: #72caf2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button-style {
    background-color: #127fa0;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button-style:hover {
    background-color: #0a5d7b;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}
.background-svg-pattern {
    background-image: linear-gradient(to right, #470055, #00486a);
}
.results-container {
    background-color: #91a8d416; 
    border: 1px solid #90cdf4; 
    border-radius: 0.5rem; 
    padding: 5rem; 
    text-align: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.min-h-screen {
    min-height: 100vh; /* Full height of the screen */
}

.text-center {
    text-align: center;
}

.max-w-lg {
    max-width: 1024px; /* Limits the max width of the container */
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.inline-block {
    display: inline-block;
}

.text-blue-600 {
    color: #3182ce; /* Link color */
}

.font-family {
    font-family: Arial, sans-serif; /* Update with your preferred font */
}
/* CSS for loader */
.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    display: none; /* Hide loader initially */
    margin: 20px auto;
}

/* Hide the real file input */
input[type="file"] {
    display: none;
}
/* Style the label as a Bootstrap button */
.custom-file-upload {
    display: inline-block;
    cursor: pointer;
}

.login-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #002663;
    border: 1px solid #eaeaea;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@import "../node_modules/bootstrap/scss/bootstrap";