<!DOCTYPE html>
<html>
<head>
    <title>Upload History</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link href="../styles/output.css" rel="stylesheet">
</head>
<body>
    <div class="background-svg-pattern font-family flex-right">
        <table class="background-svg-pattern flex justify-center items-center min-h-screene">
            <tr>
                <a href="/logout/">Log out</a>
            </tr>
        </table>
    </div>
    <div class="background-svg-pattern flex justify-center items-center min-h-screen">
        <div class="text-center max-w-lg">
            <h1 class="text-3xl font-bold underline align font-family">Upload History</h1>
            {% if history %}
                <ul class="list-group">
                {% for item in history %}
                    <li class="list-group-item">
                        <p><strong>File Name:</strong> {{ item.file_name }}</p>
                        <p><strong>Timestamp:</strong> {{ item.timestamp }}</p>
                        <p><strong>Results:</strong></p>
                        <ul>
                        {% for result in item.results %}
                            <li>{{ result.description }} ({{ result.score }})</li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No upload history found.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
